<html>

<head>
  <title>Trustbridge: Contact Us</title>
  <link rel="stylesheet" type="text/css" href="https://5432341.app.netsuite.com/c.5432341/Online%20Forms%20Resources/styles/branding/tb.css" />
  <link rel="stylesheet" type="text/css" href="Online%20Forms%20Resources/styles/branding/tb.css" />
  <link rel="stylesheet" type="text/css" href="https://5432341.app.netsuite.com/c.5432341/Online%20Forms%20Resources/styles/base.css" />
  <link rel="stylesheet" type="text/css" href="Online%20Forms%20Resources/styles/base.css" />
</head>

<body>
  <NLFORM>
    <a href="https://www.trustbridgeglobal.com/"><img id="logo" border="0"></a>
    <div id="headBar" class="tb">
      <h1>CONTACT US</h1>
    </div>
    <div id="bodyWrapper">
      <div id="intro">
        <h2>FAQS</h2>
        <h3>Does TrustBridge accept grant requests?</h3>
        <p>No, TrustBridge is a donor advised fund and, as such, does not accept grant applications or project funding requests. Please do not use the form below to ask for a grant. In most cases, charities are introduced to TrustBridge by givers who want to donate to a specific international organization. Grants are initiated from the fund balances of approved recipient charities within the TrustBridge Global Network. Charities with existing international donors who are looking for a way to effectively give to their work can request information using the form below.</p><br>
        <h3>Are there any minimum contributions or grants?</h3>
        <p>This depends on the member of the TrustBridge Global Network that is taking in the contribution.</p>
        <p>In the US and Switzerland, the TrustBridge Global Member foundations can accept contributions of any amount. For other countries within the TrustBridge Network, there may be either minimum contribution recommendations or program specific requirements on incoming contributions. You can contact our Giver Services Team for more information on your specific contribution using the form below.</p>
        <p>A grant made from a TrustBridge Charity Fund is subject to a minimum assessment when the charity requests the onward grant distribution from their Fund. We are geared toward larger grants, so charities are encouraged to use their Fund to accumulate contributions and to request distributions when the balance is larger. Most grant disbursement requests are CHF 5,000 (or other currency equivalent) and over.</p>
        <div id="lineBreak"></div>
        <h2>HAVE QUESTIONS?</h2>
        <p>Have questions and want to know more about what we do? We would love to hear from you! Just fill out the form (below) and we will get back to you soon.</p>
      </div>
      <div id="formWrapper">
        <div id="formBlock">
          <h4><span class="requiredIco">*</span>Last Name</h4>
          <NLLASTNAME>
          <h4><span class="requiredIco">*</span>First Name</h4>
          <NLFIRSTNAME>
          <h4><span class="requiredIco">*</span>Country</h4>
          <NLCOUNTRY>
          <h4><span class="requiredIco">*</span>Email</h4>
          <NLEMAIL>
          <h4>Company Name</h4>
          <NLCOMPANYNAME>
          <h4>Web Address</h4>
          <NLURL>
          <h4><span class="requiredIco">*</span>I am a...</h4>
          <NLcustentity_online_contact_type>
          <h4><span class="requiredIco">*</span>How did you come to us?</h4>
          <NLcustentity_online_referral_type>
          <h4><span class="requiredIco">*</span>Subject</h4>
          <NLcustentity_online_message_subject>
          <h4><span class="requiredIco">*</span>Message</h4>
          <NLcustentity_online_message>
          <NLSUBSIDIARY>
          <NLcustentity_refer_source>
          <input type="submit" value="Submit">
          <input type="button" value="Reset">
        </div>
      </div>
    </div>
  </FORM>
</body>

</html>
