:root {
  --logo-url-med: url('https://5432341.app.netsuite.com/c.5432341/Online%20Forms%20Resources/media/media986f.jpg');
  --logo-url-med-expl: url('../../Online%20Forms%20Resources/media/media986f.jpg');
  --main-color-dark: #A81C07;
  --main-color-light: #7BB0D3;
  --main-color-dark2: #4c0b0d;
  --secondary-color-light:;
  --secondary-color-dark:;

}
