<html>

<head>
  <title>Feedback Survey</title>
  <link rel="stylesheet" type="text/css" href="https://5432341.app.netsuite.com/c.5432341/Online%20Forms%20Resources/styles/branding/tb.css" />
  <link rel="stylesheet" type="text/css" href="../../Web%20Site%20Hosting%20Files/Live%20Hosting%20Files/Online%20Forms%20Resources/styles/branding/tb.css" />
  <link rel="stylesheet" type="text/css" href="https://5432341.app.netsuite.com/c.5432341/Online%20Forms%20Resources/styles/base.css" />
  <link rel="stylesheet" type="text/css" href="./../../../Base/Web Site Hosting Files/Live Hosting Files/Online Forms Resources/styles/base.css" />
</head>

<body>
  <NLFORM>
    <a href="https://www.trustbridgeglobal.com/"><img id="logo" border="0"></a>
    <div id="headBar" class="tb">
      <h1>We Value Your Feedback</h1>
    </div>
    <div id="bodyWrapper">
      <div id="intro">
        <h2>Thank you for using TrustBridge. </h2>
        <p>We are dedicated to creating a great client experience.  We have just 1 simple multi-choice questions left to ask you that will take less than 5 seconds to complete.</p>
        <div id="lineBreak"></div>
        <p>We appreciate your feedback.</p>
      </div>
      <div id="formWrapper">
        <div id="formBlock">
          <h4><span class="requiredIco">*</span>Name</h4>
          <NLcustrecord_client_name>
          <h4><span class="requiredIco">*</span>How satisfied were you with your recent interaction with TrustBridge?</h4>
          <NLcustrecord_satisfied_with_service>
          <h4><span class="requiredIco">*</span>How could we make your experience better?</h4>
          <NLcustrecord_satisfaction_survey_comments>
          <NLcustrecord_donor_name>
          <NLcustrecord_likelihood_to_use_again>
          <input type="submit" value="Submit">
          <input type="button" value="Reset">
        </div>
      </div>
    </div>
  </FORM>
</body>

</html>
