#headBar{
  background-color:#A81c07;

}
#headBar .headBarTitle{
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .2em;
  color:#fff;
      font-size: 20pt;
      padding:10px;
}
#logo img{
  margin:10px;
}
